<tr>
  <td style="width: 20%"></i><%= account.name %></td>
  <td style="width: 20%;">
    <img style="width: 100px" src="<%= account.avatar %>" alt="">
  </td>
  <td></td>
  <td style="width: 15%"><%= account.email %></td>
  <td class="action-article" style="width: 10%">
    <%= link_to edit_admin_account_path(account) do %>
      <%= content_tag :i, "", class: "far fa-edit text-info" %>
    <% end %>
    <%= link_to admin_account_path(account), method: :delete, data: { confirm: "You sure?" } do %>
      <%= content_tag :i, "" , class: "far fa-trash-alt text-danger" %>
    <% end %>
  </td>
</tr>
