<div class="home-slider position-relative overflow-hidden space-bottom-lg-1">
  <div
    id="sliderSyncingNav"
    class="js-slick-carousel slick"
    data-hs-slick-carousel-options='{
      "dots": true,
      "autoplay": true,
      "autoplaySpeed": 10000,
      "dotsClass": "d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0",
      "infinite": true,
      "asNavFor": "#sliderSyncingThumb"
    }'
  >
    <% @posts_slider.each do |post|%>
      <div class="bg-img-hero d-flex align-items-center min-h-676rem slider-gradient" style="background-image: url(<%= url_for(post.bg_slider_image) %>)">
        <div class="container">
          <div class="mx-3 mx-md-5 col-xl-5 px-0">
            <h1 class="display-6 mb-3" style="text-transform: uppercase;" >
              <%= link_to post_path(post), class: "h-w-primary" do %>
                <%= post.name %>
              <% end %>
            </h1>
            <div class="mb-4d">
              <ul class="list-unstyled nav nav-meta nav-meta__white">
                <li class="">Xuất bản: <%= post.release_date %></li>
                <li class="">Tác giả: <%= post.author.name %></li>
              </ul>
            </div>
            <div class="d-md-flex">
              <%= link_to post_path(post), class: "btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0" do %>
                ĐỌC NGAY
              <% end %>
              <% if post.buy_link.present? %>
                <%= link_to post_path(post), class: "btn btn-outline-light ml-md-4 px-6 py-3d btn-sm" do %>
                  + ĐẶT SÁCH
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-none d-xl-flex position-xl-absolute col-xl-6 mr-3 right-0 bottom-0 mb-xl-12 slider-m-0 flex-column">
    <h4 class="text-white font-size-22 font-weight-bold mb-3">BỎ TÚI NHỮNG CUỐN SÁCH CHO THÁNG 12 CỦA BẠN</h4>
    <div
      id="sliderSyncingThumb"
      class="js-slick-carousel slick slick-gutters-1 slick-transform-off"
      data-hs-slick-carousel-options='{
        "infinite": true,
        "slidesToShow": 8,
        "isThumbs": true,
        "asNavFor": "#sliderSyncingNav",
        "responsive": [{
          "breakpoint": 1199,
          "settings": {
            "slidesToShow": 2
          },
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 2
          }
        }]
      }'
    >
      <% @posts_slider.each do |post|%>
        <div class="my-1d" style="cursor: pointer;">
          <img src="<%= url_for(post.thumb_slider_image) %>" class= "img-fluid", style= 'width: 204px; height: 120px;'>
        </div>
      <% end %>
    </div>
  </div>
</div>
