<%= provide :title, "Review sách" %>
<%= provide :image, asset_path('') %>

<div class="home-slider position-relative overflow-hidden">
  <div
    id="sliderSyncingNav"
    class="js-slick-carousel slick"
    data-hs-slick-carousel-options='{
      "dots": true,
      "autoplay": true,
      "autoplaySpeed": 10000,
      "dotsClass": "d-xl-none slick-pagination mb-3 position-absolute right-0 left-0 bottom-0",
      "infinite": true,
      "asNavFor": "#sliderSyncingThumb"
    }'
  >
    <% @posts_slider.each do |post|%>
      <div class="bg-img-hero d-flex align-items-center min-h-676rem slider-gradient" style="background-image: url(<%= url_for(post.bg_slider_image) %>)">
        <div class="container">
          <div class="mx-3 mx-md-5 col-xl-5 px-0">
            <h1 class="display-6 mb-3" style="text-transform: uppercase;" >
              <%= link_to post_path(post), class: "h-w-primary" do %>
                <%= post.name %>
              <% end %>
            </h1>
            <div class="mb-4d">
              <ul class="list-unstyled nav nav-meta nav-meta__white">
                <li class="">Xuất bản: <%= post.release_date %></li>
                <li class="">Tác giả: <%= post.author.name %></li>
              </ul>
            </div>
            <div class="d-md-flex">
              <%= link_to post_path(post), class: "btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0" do %>
                ĐỌC NGAY
              <% end %>
              <% if post.buy_link.present? %>
                <%= link_to post_path(post), class: "btn btn-outline-light ml-md-4 px-6 py-3d btn-sm" do %>
                  + ĐẶT SÁCH
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-none d-xl-flex position-xl-absolute col-xl-6 mr-3 right-0 bottom-0 mb-xl-12 slider-m-0 flex-column">
    <h4 class="text-white font-size-22 font-weight-bold mb-3">BỎ TÚI NHỮNG CUỐN SÁCH CHO THÁNG 12 CỦA BẠN</h4>
    <div
      id="sliderSyncingThumb"
      class="js-slick-carousel slick slick-gutters-1 slick-transform-off"
      data-hs-slick-carousel-options='{
        "infinite": true,
        "slidesToShow": 8,
        "isThumbs": true,
        "asNavFor": "#sliderSyncingNav",
        "responsive": [{
          "breakpoint": 1199,
          "settings": {
            "slidesToShow": 2
          },
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 2
          }
        }]
      }'
    >
      <% @posts_slider.each do |post|%>
        <div class="my-1d" style="cursor: pointer;">
          <img src="<%= url_for(post.thumb_slider_image) %>" class= "img-fluid", style= 'width: 204px; height: 120px;'>
        </div>
      <% end %>
    </div>
  </div>
</div>

<section class="bg-gray-1100 dark">
  <div class="container px-md-4">
    <div class="row mb-xl-5">
      <div class="col-xl-auto d-flex">
        <header class="max-w-370 mt-auto mb-8 title-dash">
          <h3 class="display-65 text-white mb-3 pr-xl-12 font-weight-semi-bold">Điểm qua những cuốn sách kinh điển</h3>
          <p class="text-gray-1300 font-secondary font-weight-medium">Được đón đọc nhiều nhất</p>
          <div class="border-top border-g-1200-op mr-xl-7"></div>
        </header>
      </div>
      <div class="col">
        <div class="row row-cols-2 row-cols-md-5">
          <div class="col mb-5 mb-xl-0">
            <div class="product">
              <div class="product-image mb-2">
                <a href="" class="d-inline-block position-relative stretched-link">
                  <%= image_tag("174260img1.jpg", class: "img-fluid lazy-load") %>
                </a>
              </div>
              <div class="product-meta font-size-12 mb-1">
                <span><a href="" class="h-g-primary">2020</a></span>
                <span><a href="" class="h-g-primary">Action</a></span>
                <span><a href="" class="h-g-primary">Comedy</a></span>
                <span><a href="" class="h-g-primary">Mystery</a></span>
              </div>
              <div class="product-title font-weight-bold font-size-1"><a href="">Delta Bravo</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-xl-0">
            <div class="product">
              <div class="product-image mb-2">
                <a href="" class="d-inline-block position-relative stretched-link">
                  <%= image_tag("174260img2.jpg", class: "img-fluid lazy-load") %>
                </a>
              </div>
              <div class="product-meta font-size-12 mb-1">
                <span><a href="" class="h-g-primary">2020</a></span>
                <span><a href="" class="h-g-primary">Action</a></span>
                <span><a href="" class="h-g-primary">Comedy</a></span>
                <span><a href="" class="h-g-primary">Mystery</a></span>
              </div>
              <div class="product-title font-weight-bold font-size-1"><a href="">Mad</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-xl-0">
            <div class="product">
              <div class="product-image mb-2">
                <a href="" class="d-inline-block position-relative stretched-link">
                  <%= image_tag("174260img3.jpg", class: "img-fluid lazy-load") %>
                </a>
              </div>
              <div class="product-meta font-size-12 mb-1">
                <span><a href="" class="h-g-primary">2020</a></span>
                <span><a href="" class="h-g-primary">Action</a></span>
                <span><a href="" class="h-g-primary">Comedy</a></span>
                <span><a href="" class="h-g-primary">Mystery</a></span>
              </div>
              <div class="product-title font-weight-bold font-size-1"><a href="">Oh Lucy</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-xl-0">
            <div class="product">
              <div class="product-image mb-2">
                <a href="" class="d-inline-block position-relative stretched-link">
                  <%= image_tag("174260img4.jpg", class: "img-fluid lazy-load") %>
                </a>
              </div>
              <div class="product-meta font-size-12 mb-1">
                <span><a href="" class="h-g-primary">2020</a></span>
                <span><a href="" class="h-g-primary">Action</a></span>
                <span><a href="" class="h-g-primary">Comedy</a></span>
                <span><a href="" class="h-g-primary">Mystery</a></span>
              </div>
              <div class="product-title font-weight-bold font-size-1"><a href="">Euphoria</a></div>
            </div>
          </div>
          <div class="col mb-5 mb-xl-0">
            <div class="product">
              <div class="product-image mb-2">
                <a href="" class="d-inline-block position-relative stretched-link">
                  <%= image_tag("174260img5.jpg", class: "img-fluid lazy-load") %>
                </a>
              </div>
              <div class="product-meta font-size-12 mb-1">
                <span><a href="" class="h-g-primary">2020</a></span>
                <span><a href="" class="h-g-primary">Action</a></span>
                <span><a href="" class="h-g-primary">Comedy</a></span>
                <span><a href="" class="h-g-primary">Mystery</a></span>
              </div>
              <div class="product-title font-weight-bold font-size-1"><a href="">Black Mirror</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-md-5 row-cols-xl">
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
              <%= image_tag("174260img10.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">The Convenient Groom</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
              <%= image_tag("174260img11.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Paradigm Lost</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
              <%= image_tag("174260img12.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Pacific Rim: Uprising</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <%= image_tag("174260img6.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Dirt</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12">Featured</span>
              <%= image_tag("174260img7.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Fantastic Beasts and Where to Find Them</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <%= image_tag("174260img8.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Sunday</a></div>
        </div>
      </div>
      <div class="col-6 col-xl mb-5 mb-xl-0">
        <div class="product">
          <div class="product-image mb-2">
            <a href="" class="d-inline-block position-relative stretched-link">
              <%= image_tag("174260img9.jpg", class: "img-fluid lazy-load") %>
            </a>
          </div>
          <div class="product-meta font-size-12 mb-1">
            <span><a href="" class="h-g-primary">2020</a></span>
            <span><a href="" class="h-g-primary">Action</a></span>
            <span><a href="" class="h-g-primary">Comedy</a></span>
            <span><a href="" class="h-g-primary">Mystery</a></span>
          </div>
          <div class="product-title font-weight-bold font-size-1"><a href="">Bpm</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse mt-6" id="collapseExample">
    <div class="container px-md-4">
      <div class="row row-cols-md-5 row-cols-xl">
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                <%= image_tag("174260img1.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">The Convenient Groom</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                <%= image_tag("174260img2.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Paradigm Lost</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                <%= image_tag("174260img3.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Pacific Rim: Uprising</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                <%= image_tag("174260img4.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Dirt</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                 <%= image_tag("174260img5.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Fantastic Beasts and Where to Find Them</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                <%= image_tag("174260img6.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Sunday</a></div>
          </div>
        </div>
        <div class="col-6 col-xl mb-5 mb-xl-0">
          <div class="product">
            <div class="product-image mb-2">
              <a href="" class="d-inline-block position-relative stretched-link">
                 <%= image_tag("174260img7.jpg", class: "img-fluid lazy-load") %>
              </a>
            </div>
            <div class="product-meta font-size-12 mb-1">
              <span><a href="" class="h-g-primary">2020</a></span>
              <span><a href="" class="h-g-primary">Action</a></span>
              <span><a href="" class="h-g-primary">Comedy</a></span>
              <span><a href="" class="h-g-primary">Mystery</a></span>
            </div>
            <div class="product-title font-weight-bold font-size-1"><a href="">Bpm</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-1 position-relative d-flex">
    <button
      class="btn btn-outline-dark-primary mx-auto px-7 py-3 font-size-1 z-index-2 font-weight-medium font-secondary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      + Xem Thêm
    </button>
    <div class="border-top content-centered w-100 border-gray-1400"></div>
  </div>
</section>

<section class="space-1 bg-gray-2800">
  <div class="container my-3">
    <div class="row">
      <div class="col">
        <div class="tab-content">
          <div class="row">
              <div class="col-md-5 col-lg-4 mb-3 mb-md-5">
                <header class="max-w-370 mt-auto mb-xl-8 title-dash">
                  <h3 class="display-7 mb-3 font-weight-semi-bold">Những cuốn sách hay có chọn lọc</h3>
                </header>
              </div>
              <div class="col-md-7 col-lg-8 mb-md-5">
                <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 mx-n2">
                  <div class="col px-2 mb-5 mb-md-0">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img1.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">Chicago Med</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img2.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">The Last Man on the earth</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0 d-md-none d-lg-block">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img3.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Action</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">Unbreakable Kimmy Schmidt</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0 d-md-none d-xl-block">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img4.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">House of cards</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 mx-n2">
                  <div class="col px-2 mb-5 mb-md-0">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img5.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">Chicago Med</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img6.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">The Last Man on the earth</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img7.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Action</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">Unbreakable Kimmy Schmidt</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0 d-md-none d-lg-block">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img8.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">House of cards</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0 d-md-none d-xl-block">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img9.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">2020</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">Chicago Med</a></div>
                    </div>
                  </div>
                  <div class="col px-2 mb-5 mb-md-0 d-md-none d-xl-block">
                    <div class="product">
                      <div class="product-image mb-2">
                        <a href="" class="d-inline-block position-relative stretched-link">
                          <%= image_tag("222126img10.jpg", class: "img-fluid lazy-load") %>
                        </a>
                      </div>
                      <div class="product-meta font-size-12 mb-1">
                        <span><a href="" class="h-g-primary">Action</a></span>
                        <span><a href="" class="h-g-primary">Comedy</a></span>
                        <span><a href="" class="h-g-primary">Mystery</a></span>
                      </div>
                      <div class="product-title font-weight-bold font-size-1"><a href="">The Last Man on the earth</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-img-hero space-3" style="background-image: url(<%= asset_path '1920600img2.jpg' %>)">
  <div class="container px-md-4">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div class="">
          <a href="" class="display-8 h-w-primary d-inline-block font-secondary mb-6">Delta Bravo</a>
          <p class="text-gray-1800 mb-6 font-secondary d-block font-size-1 font-weight-medium">
            strange black entity from another world bonds with Peter Parker and causes inner turmoil as he contends with new villains, temptations, and revenge.
          </p>
          <div class="d-md-flex">
            <a href="" class="btn btn-primary px-6 py-3d btn-sm mb-3 mb-md-0" tabindex="0">WATCH NOW</a>
            <a href="" class="btn btn-outline-light ml-md-4 px-6 py-3d btn-sm" tabindex="0">+ PLAYLIST</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="space-bottom-5 space-bottom-lg-0">
  <div class="bg-img-hero" style="background-image: url(<%= asset_path '1920700img1.jpg' %>);">
    <div class="container px-md-6">
      <div class="space-2">
        <div class="pt-5 mt-1 mb-8">
          <h6 class="font-size-16 font-weight-normal opacity-6 text-lh-md pl-1 mb-3">Đặc sắc</h6>
          <h5 class="display-10">Khám phá tuổi 20</h5>
          <h4 class="font-size-22 font-weight-light pl-1 max-w-330">
            Người bạn thương của tuổi 18 ... giờ đang nơi đâu?
          </h4>
        </div>
        <div class="tab-nav__v3 mb-3">
          <ul class="nav flex-nowrap flex-lg-wrap justify-content-start overflow-auto align-items-center" role="tablist">
            <li class="nav-item flex-shrink-0 flex-shrink-md-1">
              <a class="nav-link active pl-2">
                Bộ sưu tập
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content u-slick__tab">
          <div class="tab-pane fade show active" id="pills-one-code-features-example6" role="tabpanel" aria-labelledby="pills-one-code-features-example6-tab">
            <div
              class="js-slick-carousel u-slick"
              data-hs-slick-carousel-options='{
                "prevArrow": "<span class=\"fas fa-chevron-left slick-arrow slick-arrow-svg-left slick-arrow-centered-y left slick-arrow-right rounded-circle position-absolute left-0 ml-n5 ml-wd-n5\"></span>",
                "nextArrow": "<span class=\"fas fa-chevron-right slick-arrow slick-arrow-svg-right slick-arrow-centered-y right slick-arrow-right rounded-circle position-absolute mr-n5 mr-wd-n5\"></span>"
              }'
            >
              <div class="js-slide">
                <div class="row mx-n2">
                  <% @posts_slider.each do |post|%>
                    <div class="col-6 col-md-4 col-lg px-2">
                      <div class="product mt-2">
                        <div class="product-image mb-1">
                          <%= link_to post_path(post), class: "d-inline-block position-relative stretched-link" do %>
                            <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12"><%= post.tag %></span>
                            <%= image_tag(post.image_cover, class: "img-fluid w-100 lazy-header", alt: "Image cover #{post.name}") %>
                          <% end %>
                        </div>
                        <div class="product-meta font-size-12">
                          <span>
                            <%= link_to author_path(post.author), class: "h-g-primary" do %>
                              <%= post.author.name %>
                            <% end %>
                          </span>
                        </div>
                        <div class="font-weight-bold font-size-1">
                          <%= link_to post_path(post), class: "text-dark", title: "#{post.name}" do %>
                            <%= truncate(post.name, length: 22, omission: "..." ) %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="js-slide">
                <div class="row mx-n2">
                  <% @posts_slider.each do |post|%>
                    <div class="col-6 col-md-4 col-lg px-2">
                      <div class="product mt-2">
                        <div class="product-image mb-1">
                          <%= link_to post_path(post), class: "d-inline-block position-relative stretched-link" do %>
                            <span class="position-absolute px-2d line-height-lg bg-primary rounded content-centered-x z-index-2 mt-n2 text-white font-size-12"><%= post.tag %></span>
                            <%= image_tag(post.image_cover, class: "img-fluid w-100 lazy-header", alt: "Image cover #{post.name}") %>
                          <% end %>
                        </div>
                        <div class="product-meta font-size-12">
                          <span>
                            <%= link_to author_path(post.author), class: "h-g-primary" do %>
                              <%= post.author.name %>
                            <% end %>
                          </span>
                        </div>
                        <div class="font-weight-bold font-size-1">
                          <%= link_to post_path(post), class: "text-dark", title: "#{post.name}" do %>
                            <%= truncate(post.name, length: 22, omission: "..." ) %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-gray-1100 pt-5">
    <div class="container px-md-6 pt-lg-3 mt-lg-1">
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100 home-section">
            <h6 class="font-size-24 font-weight-medium mb-2 mb-md-0 text-white">Nhiều lượt xem nhất</h6>
            <div class="d-none d-md-block border-top col p-0 mx-3 border-gray-6830"></div>
          </header>
          <div class="mb-5 mb-md-7 mb-lg-6 pb-lg-1">
            <% @post_views.each do |post| %>
              <div>
                <div class="row no-gutters border-bottom border-gray-3200 mb-4 pb-4">
                  <div class="col-md-4">
                    <%= link_to post_path(post), class: "d-flex h-100 mb-3 mb-lg-0" do %>
                      <%= image_tag(url_for(post.image_cover_cate), class: "img-fluid lazy-load") %>
                    <% end %>
                  </div>
                  <div class="col-md-8">
                    <div class="ml-md-3">
                      <h6 class="product--title font-size-17 font-weight-semi-bold font-secondary mb-0 mt-3 mt-md-0">
                        <%= link_to post.name, post_path(post) %>
                      </h6>
                      <div class="d-flex align-items-center d-md-block">
                        <div class="text-lh-1dot1">
                          <%= link_to author_path(post.author), class: "font-size-13 font-weight-bold" do %>
                            <%= post.author.name %>
                          <% end %>
                        </div>
                        <div>
                          <a href="javascript:;" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                             <span><%= post.created_at.strftime(Settings.date.formats) %></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="pl-lg-4 pl-xl-6">
            <header class="d-md-flex align-items-center justify-content-between mb-3 pb-1 w-100 home-section">
              <h6 class="font-size-24 font-weight-medium mb-2 mb-md-0 text-white">Bài review mới Nhất</h6>
              <div class="d-none d-md-block border-top col p-0 mx-3 border-gray-6830"></div>
            </header>
            <div class="mb-6 mb-lg-9">
              <%= link_to post_path(@post_new_first), class: "d-block mb-4" do %>
                <%= image_tag(url_for(@post_new_first.banner_cover), class: "img-fluid lazy-header") %>
              <% end %>
              <h2 class="product--title font-weight-semi-bold font-size-26 text-lh-1 mb-2 mb-md-0">
                <%= link_to @post_new_first.name, post_path(@post_new_first) %>
              </h2>
              <div class="mb-2 pb-1">
                <%= link_to author_path(@post_new_first.author), class: "font-weight-bold font-size-13" do %>
                  <span><%= @post_new_first.author.name %></span>
                <% end %>
                <a href="javascript:;" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                  <span><%= @post_new_first.created_at.strftime(Settings.date.formats) %></span>
                </a>
              </div>
              <p class="font-size-1 text-gray-1300 mb-0">
                <%= @post_new_first.description %>
              </p>
            </div>
            <% @post_news.each do |post| %>
              <div class="row mb-5 pb-1">
                <div class="col-md-4">
                  <%= link_to post_path(post), class: "d-flex h-100" do %>
                    <%= image_tag(url_for(post.image_cover_cate), class: "img-fluid lazy-load") %>
                  <% end %>
                </div>
                <div class="col-md-8 d-flex flex-column justify-content-center">
                  <div class="pr-lg-4 mt-3 mt-lg-0">
                    <h6 class="font-size-22 font-weight-semi-bold product--title text-lh-1dot25 mb-2 mb-md-0">
                      <%= link_to post.name, post_path(post) %>
                    </h6>
                    <div class="mb-2 pb-1">
                      <%= link_to author_path(post.author), class: "font-weight-bold font-size-13" do %>
                        <span><%= post.author.name %></span>
                      <% end %>
                      <a href="javascript:;" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                        <span><%= post.created_at.strftime(Settings.date.formats) %></span>
                      </a>
                    </div>
                    <p class="mb-0 font-size-1 text-gray-1300">
                     <%= post.description %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
