<div class="card card-secondary form-article">
  <div class="card-header">
    <h3 class="card-title"> <%= yield(:form_type) %> </h3>
  </div>
  <div class="card-body">
    <%= simple_form_for [:admin, @post], html: {class: "form-horizontal"}  do |f| %>
      <div class="form-body">
        <div class="form-group">
          <%= f.label :name, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :name, as: :string,
              input_html: { class: "form-control input-circle input-title", placeholder: "title..." },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group slug-group">
          <%= f.label :slug, class: "col-md-4 control-label" %>
          <div class="row">
            <div class="col-md-11">
              <%= f.input :slug, as: :string,
                input_html: { class: "form-control input-circle input-slug", placeholder: "Slug" },
                label: false,
                autofocus: true %>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-outline-secondary change-slug">Change slug</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :description, as: :text,
              input_html: { class: "form-control input-circle input-title", placeholder: "Write description..." },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :content, class: "col-md-4 control-label" %>
          <div class="col-md-12">
             <%= f.cktext_area :content, class: "form-control input-circle",
                               placeholder: "content" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :author, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :author, as: :string,
              input_html: { class: "form-control input-circle input-title", placeholder: "author..." },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :buy_link, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :buy_link, as: :string,
              input_html: { class: "form-control input-circle input-title", placeholder: "" },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :release_date, class: "col-md-4 control-label" %>
          <div class="col-md-12 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <%= f.input :release_date, as: :string,
              input_html: { id: "date-input", class: "form-control input-circle input-title", placeholder: "dd-mm-yyy" },
              label: false,
              autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :tag, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :tag, as: :string,
              input_html: { class: "form-control input-circle input-title", placeholder: "mới ra mắt, đặc sắc, bán chạy,..." },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :category_id, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.collection_select :category_id, Category.all, :id, :title %>
          </div>
        </div>
        <% if Account.all.count > 0%>
          <div class="form-group">
            <%= f.label :account_id, class: "col-md-4 control-label" %>
            <div class="col-md-12">
              <%= f.collection_select :account_id, Account.all, :id, :name %>
            </div>
          </div>
        <% end %>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Image cover (174*260)</label>
            <% if @post.image_cover.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.image_cover)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.image_cover.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :image_cover, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Image cover in page cate (480*270)</label>
            <% if @post.image_cover_cate.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.image_cover_cate)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.image_cover_cate.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :image_cover_cate, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Banner cover (990*440)</label>
            <% if @post.banner_cover.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.banner_cover)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.banner_cover.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :banner_cover, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Image thumb slider (204*120)</label>
            <% if @post.thumb_slider_image.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.thumb_slider_image)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.thumb_slider_image.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :thumb_slider_image, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Background slider (1920*676)</label>
            <% if @post.bg_slider_image.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.bg_slider_image)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.bg_slider_image.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :bg_slider_image, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="form-group custom-file mb-3">
          <div class="row">
            <label>Image cover cate highlight (222*126)</label>
            <% if @post.highlight_image.attached? %>
              <div class="image-cover col-md-12">
                <img src="<%= (url_for(@post.highlight_image)) %>">
                <%= link_to 'Remove before change', delete_image_attachment_admin_post_url(@post.highlight_image.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </div>
            <% else %>
              <div class="col-md-12">
                <div>
                  <%= f.file_field :highlight_image, accept: ".jpg,.jpeg,.gif,.png", class: "custom-file-input", id: "customFile" %>
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-actions">
          <div class="col-md-12">
            <%= f.submit yield(:button_text)  , class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
