<tr>
  <td style="width: 10%"></i><%= post.name %></td>
  <td style="width: 10%"></i>
    <% if post.image_cover.attached? %>
      <img style="width: 80px" src="<%= url_for(post.image_cover) %>" alt="">
    <% end %>
  </td>
  <td style="width: 10%"><%= truncate(post.description , length: 30, omission: '...') %></td>
  <td style="width: 10%"><%= post.category && post.category.title %></td>
  <td style="width: 10%"><%= post.account && post.account.name %></td>
  <td style="width: 10%"><%= post.author && post.author.name %></td>
  <td class="action-article" style="width: 10%;">
    <%= link_to edit_admin_post_path(post) do %>
      <%= content_tag :i, "", class: "far fa-edit text-info" %>
    <% end %>
    <%= link_to admin_post_path(post), method: :delete, data: { confirm: "You sure?" } do %>
      <%= content_tag :i, "" , class: "far fa-trash-alt text-danger" %>
    <% end %>
  </td>
</tr>
