<%= content_for :breadcum_first, "Home" %>
<%= content_for :breadcum_first_link, admin_root_path %>
<%= content_for :breadcum_second, "Categories" %>

<%= render "layouts/breadcrumb_admin"%>
<div class="col-12 pt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-list"></i>&ensp;Category list</h3>
      <%= link_to new_admin_category_path, class: "create-category" do %>
        <i class="far fa-plus-square nav-icon"></i>
      <% end %>
      <div class="card-tools">
        <%= search_form_for @q, url: admin_categories_path do |f| %>
          <div class="input-group input-group-sm">
            <%= f.search_field :title_cont, class: "form-control float-right", placeholder: "Search article... " %>
            <div class="input-group-append">
              <%= f.submit "search", class: "button btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Slug</th>
            <th scope="col">Description</th>
            <th scope="col">Image-cover</th>
            <th scope="col">Location</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @categories, outer_window: 3 %>
</div>
