<%= content_for :breadcum_first, "Trang chủ" %>
<%= content_for :breadcum_first_link, root_path %>
<%= content_for :breadcum_second, "Kết quả tìm kiếm từ khóa _#{@search_key}" %>
<%= provide :title, "Tìm kiếm" %>
<div class="bg-img-hero" style="background-image: url('<%= asset_path("banner-search.jpg")%>'); height: 315px;"></div>
<section class="blog-post-tab-with-Sidebar mb-lg-7">
  <div class="container px-md-5">
    <%= render "layouts/breadcrumb"%>
    <div>
      <div class="row">
        <div class="col-xl-9">
          <div class="mb-5 mb-xl-0">
            <% @posts.each do |post| %>
              <div class="row mb-4">
                <div class="col-lg-6">
                  <%= link_to post_path(post), class: "d-block mb-3 mb-lg-0" do %>
                    <img src="<%= url_for(post.image_cover_cate) %>"  class="img-fluid" alt="image cover <%= post.name %>">
                  <% end %>
                </div>
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                  <h6 class="product_title font-size-22 font-secondary font-weight-semi-bold text-lh-1dot3 mb-1 pr-1">
                    <%= link_to post_path(post) do %>
                      <%= post.name %>
                    <% end %>
                  </h6>
                  <div class="mb-2 pb-1">
                    <a href="" class="font-weight-bold font-size-13">
                      <span><%= post.author.name %></span>
                    </a>
                    <a href="javascript:;" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                      <span><%= post.created_at.strftime(Settings.date.formats) %></span>
                    </a>
                  </div>
                  <p class="font-size-1 mb-0 pr-lg-7">
                    <%= post.description %>
                  </p>
                </div>
              </div>
            <% end %>
            <%= paginate @posts, theme: "front" %>
          </div>
        </div>
        <div class="col-xl-3">
          <div>
            <div class="d-flex align-items-baseline justify-content-between mb-5 pb-1">
              <h6 class="font-size-24 font-weight-medium font-secondary mb-0">Bài viết nổi bật</h6>
              <div class="border-top col p-0 mx-2 border-gray-3600"></div>
            </div>
            <div class="row">
              <% Category.cate_show("highlight").last.posts.limit(5).each do |post|%>
                <div class="col-lg-6 col-xl-12">
                  <div class="row no-gutters border-bottom mb-4 pb-4">
                    <div class="col-md-4">
                      <%= link_to post_path(post), class: "d-flex h-100 mb-3 mb-lg-0" do %>
                        <%= image_tag(post.image_cover_cate, class: "img-fluid lazy-header", alt: "image cover #{post.name}") %>
                      <% end %>
                    </div>
                    <div class="col-md-8">
                      <div class="ml-md-3">
                        <h6 class="product_title font-size-17 font-weight-semi-bold font-secondary mb-0 mt-3 mt-md-0">
                          <%= link_to post_path(post) do %>
                            <%= post.name %>
                          <% end %>
                        </h6>
                        <div class="d-flex align-items-center d-xl-block">
                          <div class="text-lh-1dot1">
                            <%= link_to author_path(post.author), class: "font-size-13 font-weight-bold" do %>
                              <span><%= post.author.name %></span>
                            <% end %>
                          </div>
                          <div>
                            <a href="javascript:;" class="product-comment font-weight-normal font-size-13 font-italic h-g-primary">
                              <span><%= post.created_at.strftime(Settings.date.formats) %></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

