<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Hảo Trương">
    <title><%= yield(:title) %> | Kênh đọc</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="vi" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="description" content="Bạn cô đơn ư? Đừng lo lắng. Mọi cuốn sách đều sẵn sàng kết thân với bạn! kenhdoc.com nơi kết nối bạn với những cuốn sách hay, những cuốn sách có thể thay đổi cuộc đời bạn.">
    <meta name="robots" content="noindex, nofollow">
    <!-- <link rel="canonical" href="https://kenhdoc.com/" /> -->
    <meta property="og:image" content="<%= yield(:image) %>">
    <%#= favicon_link_tag asset_path("favicon.png"), rel: "icon", type: "image/x-icon" %>
    <link rel="apple-touch-icon" href="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
