<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Hảo Trương">
  <title><%= yield(:title) %> | Kênh đọc - trang đánh giá sách hay nhất nên đọc</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="vi" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="Review Sách - Bạn cô đơn ư? Đừng lo lắng. Mọi cuốn sách đều sẵn sàng kết thân với bạn, kenhdoc.com nơi kết nối bạn với những cuốn sách hay, những cuốn sách có thể thay đổi cuộc đời bạn. Bạn chỉ cần đến với chúng tớ còn review sách cứ để kênh đọc lo.">
  <meta name="Keywords" content="review sách">
  <meta name="author" content="Kênh Đọc | Review Sách Hay">
  <meta name="robots" content="index, archive, follow, noodp">
  <meta name="googlebot" content="index,archive,follow,noodp">
  <meta name="msnbot" content="all,index,follow">
  <meta property="og:title" content="<%= yield(:title) %> | Kênh đọc - trang đánh giá sách hay nhất nên đọc">
  <meta property="og:description" content="Review Sách - Bạn cô đơn ư? Đừng lo lắng. Mọi cuốn sách đều sẵn sàng kết thân với bạn, kenhdoc.com nơi kết nối bạn với những cuốn sách hay, những cuốn sách có thể thay đổi cuộc đời bạn. Bạn chỉ cần đến với chúng tớ còn review sách cứ để kênh đọc lo.">
  <meta property="og:type" content="Library">
  <meta property="og:site_name" content="Review sách - Chuyên trang đánh giá sách hay nhất nên đọc">
  <meta property="og:url" href="https://kenhdoc.com/" />
  <link rel="canonical" href="https://kenhdoc.com/" />
  <meta property="og:image" content="<%= yield(:image) %>">
  <%= favicon_link_tag asset_path("favicon.jpg"), rel: "icon", type: "image/x-icon" %>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&amp;family=Open+Sans:wght@300;400;600;700;800&amp;display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <meta name="google-site-verification" content="WM7S9kB6kYnSaQyh0kfLbFo_naFMzMrIWvT46Ygh5Z0" />
  <style>
	body {
	  background-color: #131722;
	}
	svg {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -250px;
	  margin-left: -400px;
	}
	.message-box {
	  height: 200px;
	  width: 40%;;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  margin-top: -100px;
	  margin-left: 50px;
	  color: #FFF;
	  font-weight: 400;
	}
	.message-box p {
		font-size: 20px;
		color: #fff;
	}
	.message-box h1 {
	  font-size: 60px;
	  line-height: 46px;
	  margin-bottom: 40px;
	  color: #24baef;
	}
	.buttons-con .action-link-wrap {
	  margin-top: 40px;
	}
	.buttons-con .action-link-wrap a {
	  background: #24baef;
	  padding: 8px 25px;
	  border-radius: 4px;
	  color: #FFF;
	  font-weight: bold;
	  font-size: 14px;
	  transition: all 0.3s linear;
	  cursor: pointer;
	  text-decoration: none;
	  margin-right: 10px
	}
	.buttons-con .action-link-wrap a:hover {
	  background: #0e8cb9;
	  color: #fff;
	}

	#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
	  animation: float 1s infinite ease-in-out alternate;
	}
	#Polygon-2 {
	  animation-delay: .2s;
	}
	#Polygon-3 {
	  animation-delay: .4s;
	}
	#Polygon-4 {
	  animation-delay: .6s;
	}
	#Polygon-5 {
	  animation-delay: .8s;
	}

	@keyframes float {
		100% {
	    transform: translateY(20px);
	  }
	}
	@media (max-width: 450px) {
	  svg {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-top: -250px;
	    margin-left: -190px;
	  }
	  .message-box {
	    top: 35%;
	    left: 0;
	    padding: 0 15px;
	    margin-top: 0;
	    margin-left: 0;
	    text-align: center;
	    width: 100%;
	  }
	}
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
